@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom class to hide scrollbars as You're using overflow-x-scroll with scrollbar-hide, but scrollbar-hide isn’t a native Tailwind class. It only works if you’ve added the plugin or custom utility.
 */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;

}
